<div class="body">
  <div class="login">
    <img src="../../../assets/images/logo-dygcombos.png" alt="" />
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput name="email" ngModel type="text" placeholder="Usuario" #emailInput="ngModel">
        <mat-error *ngIf="emailInput.invalid">Por favor ingrese un nombre de usuario valido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" ngModel matInput placeholder="Contraseña" #passwordInput="ngModel"
          required>
        <mat-error *ngIf="passwordInput.invalid">Por favor ingrese una contraseña valida</mat-error>
      </mat-form-field>
      <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert">
        <div class="message_create">Inicio de sesion incorrecto</div>
      </div>
      <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert">
        <div class="message_create">Inicio de sesion incorrecto</div>
      </div>
      <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
    </form>
  </div>
</div>
