<mat-tab-group class="tab-group" >
  <mat-tab label="Mostrar Ventas">
    <div class="tabla-completa">
      <div class="busqueda">
        <h1>Filtrar por Fecha</h1>
        <mat-form-field appearance="fill">
          <mat-label>Introduzca un rango de fechas</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Fecha Inicial">
            <input matEndDate placeholder="Fecha Final">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button mat-raised-button color="primary">Buscar</button>
      </div>
      <div class="exports">
        <button mat-button>Exportar Clientes</button>
        <button mat-button>Exportar Productos</button>
        <button mat-button>PDF</button>
      </div>
      <mat-form-field appearance="standard" class="filter-class">
        <mat-label class="label-search">Busqueda</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input class="input-search">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

           <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
            <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="fruit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
            <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let row"><button mat-raised-button color="primary">Exportar a PDF</button> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
      </div>

    </div>

  </mat-tab>

  <mat-tab label="Crear Venta">
    <div class="container-venta">

      <div class="desplegable">
        <mat-form-field appearance="fill">
          <mat-label>Clientes</mat-label>
          <mat-select >
            <mat-option
              *ngFor="let client of clientList"
              (click)="clickEnSelector(client.id)">
              {{client.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="tabla-completa-venta">

        <mat-form-field appearance="standard" class="filter-class">
          <mat-label class="label-search">Busqueda</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input class="input-search">
        </mat-form-field>

        <table mat-table [dataSource]="dataSourceP" class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let element"> {{element.precio ? element.precio : element.precio_base}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="agregar">
            <th mat-header-cell *matHeaderCellDef> Agregar </th>
            <td mat-cell *matCellDef="let element"><mat-icon class="button_add" (click)="agregarElemento()">add_circle</mat-icon></td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumnsP"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsP;" (click)="selection.toggle(row)">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>


      </div>









      <div class="container-child">


        <table mat-table [dataSource]="dataSourceV" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="idCliente">
        <th mat-header-cell *matHeaderCellDef> ID-C </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="idProducto">
        <th mat-header-cell *matHeaderCellDef> ID-P </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="precio_base">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumnsV"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsV;"></tr>
    </table>

    <p class="total">El total es de ${{total_final}}</p>
    <button mat-raised-button color="primary">Confirmar</button>
  </div>
</div>

</mat-tab>
</mat-tab-group>
