<div class="container">
  <div class="container-child">
    <img src="../../../assets/images/logo-dygcombos.png" alt="" />
    <mat-form-field>
      <mat-label class="title">Descripcion</mat-label>
      <input matInput type="string" name="descripcion" [(ngModel)]="descripcion" minlength="5" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput type="number" name="precio" [(ngModel)]="precio_base" />
    </mat-form-field>

    <button mat-button color="withe" (click)="onEdit()">Editar Producto</button>
    <ng-template [ngIf]="creado">

      <div class="message_create">Pruducto editado con exito</div>

    </ng-template>
  </div>
</div>
