<div class="container-venta" style="background-color: #002b5c">
  <div class="container-tabla1" style="padding: 1rem">
    <div class="desplegable">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Clientes</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="Escriba el nombre de un cliente">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="clickEnSelector(option.id, option.lista)">
              {{option.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div class="tabla-completa-venta">
      <mat-form-field appearance="standard" class="filter-class">
        <mat-label class="label-search">Busqueda</mat-label>
        <input
          matInput
          (keyup)="applyFilterProductos($event)"
          placeholder="Ej. Nombre del producto"
          #input
          class="input-search"
        />
      </mat-form-field>

      <table
        mat-table
        [dataSource]="dataSourceProductos"
        class="mat-elevation-z8"
        matSort
        #TableProductosSort="matSort"
      >

        <!-- Position Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="descripcion">Descripcion</th>
          <td mat-cell *matCellDef="let element" class="descripcion">
            {{ element.descripcion ? element.descripcion : '-' }}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="cantidad">Cantidad</th>
          <td mat-cell *matCellDef="let element" class="cantidad">
            <input matInput placeholder="Ej: 8" type="number" [(ngModel)]="element.cantidad" style="margin: auto auto auto 5px;"/>
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="precio">Precio</th>
          <td mat-cell *matCellDef="let element" class="precio">
            <input matInput placeholder="Ej: 8" type="text" [(ngModel)]="element.precio" *ngIf="element.precio">
            <input matInput placeholder="Ej: 8" type="text" [(ngModel)]="element.precio_base" *ngIf="!element.precio">
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="agregar">
          <th mat-header-cell *matHeaderCellDef class="agregar">Agregar</th>
          <td mat-cell *matCellDef="let element" class="agregar">
            <mat-icon class="button_add" (click)="agregarElemento(element)" style="margin: auto auto auto 5px;"> add_circle</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsProductos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsProductos"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No encontramos productos "{{ input.value }}"</td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 15, 25, 50]"
        aria-label="Mostrar por pagina"
        #TableProductosPaginator="matPaginator"
      ></mat-paginator>
    </div>
  </div>
  <div style="padding: 1rem">
    <div class="container-child">
      <table mat-table [dataSource]="dataSourceCarrito" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="descripcion" class="descripcion2">
          <th mat-header-cell *matHeaderCellDef class="descripcion2">Descripcion</th>
          <td mat-cell *matCellDef="let element" style="font-size: 12px;">{{ element.descripcion }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef class="cantidad2" >Cantidad</th>
          <td mat-cell *matCellDef="let element"  class="cantidad2" style="margin: auto auto auto 5px;">
            {{ element.cantidad ? element.cantidad : '1' }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef>Precio</th>
          <td mat-cell *matCellDef="let element" style="margin: auto auto auto 5px;">
            {{ element.precio ? element.precio : element.precio_base }}
          </td>
        </ng-container> 

        <!-- Weight Column --> 
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef class="total">Total</th>
          <td mat-cell *matCellDef="let element" class="total" style="margin: auto auto auto 5px;">{{ element.total ? element.total : '-' }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef class="eliminar">Eliminar</th>
          <td mat-cell *matCellDef="let element" class="eliminar" >
            <mat-icon class="button_add" (click)="eliminarElemento(element)" style="margin: auto auto auto 5px;">cancel</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsCarrito"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumnsCarrito"></tr>
      </table>
      <p class="total">
        Deuda $<input matInput placeholder="Ej. 100" [(ngModel)]="deuda" type="number" />
      </p>
      <p class="total">
        El total es de $<input matInput placeholder="Ej. 100" [(ngModel)]="total_final" />
      </p>
      <button mat-raised-button color="primary" (click)="onCreateSale()" (click)="contadorFacturas()" [disabled]="this.facturaNueva > 1" >Confirmar</button>
    </div>
  </div>
</div>
