
<div class="container-venta" style="background-color: #002b5c;">
  <div class="container-tabla1" style="padding: 1rem;">
    <div class="desplegable">
      <mat-form-field appearance="fill">
        <mat-label>Clientes</mat-label>
        <mat-select>
          <mat-option *ngFor="let client of clientList" (click)="clickEnSelector(client.id)">
            {{client.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="tabla-completa-venta">
      <mat-form-field appearance="standard" class="filter-class">
        <mat-label class="label-search">Busqueda</mat-label>
        <input matInput (keyup)="applyFilterProductos($event)" placeholder='Ej. Nombre del producto' #input class="input-search">
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceProductos" class="mat-elevation-z8" matSort #TableProductosSort="matSort">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio ? element.precio : element.precio_base}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="agregar">
          <th mat-header-cell *matHeaderCellDef> Agregar </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="button_add"
              (click)="agregarElemento(element.id, element.precio, element.precio_base, element.descripcion)">
              add_circle</mat-icon>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsProductos"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsProductos"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No encontramos productos "{{ input.value }}"</td>
    </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 25,50, 100]" aria-label="Seleccione pagina"  #TableProductosPaginator="matPaginator"></mat-paginator>


    </div>
  </div>
  <div style="padding: 1rem;">
    <div class="container-child">
      <table mat-table [dataSource]="dataSourceCarrito" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="idProducto">
          <th mat-header-cell *matHeaderCellDef> ID-P </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio ? element.precio : element.precio_base}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef> Eliminar </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="button_add" (click)="eliminarElemento(element)">cancel</mat-icon>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsCarrito"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumnsCarrito;"></tr>
      </table>

      <p class="total">El total es de ${{total_final}}</p>
      <button mat-raised-button color="primary" (click)="onCreateSale()">Confirmar</button>
    </div>
  </div>
</div>
