table {
  width: 100%;
  overflow:scroll;
}
.mat-elevation-z8{
  overflow: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 16.66%;
}

.filter-class {
  background-color: #fafafa;
}

.label-search {
  margin-left: 15px;
}

.input-search {
  margin-left: 15px;
}


.container-tabla1 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container-venta {
  display: flex;
  flex-flow: row-wrap;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  align-items: flex-start;
  background-color: #002b5c;
  //altura del fondo azul
  height: 100vh
}

.tabla-completa-venta {
  width: 100%;
}

.desplegable {
  width: 100%;
}

.desplegable mat-form-field {
  width: 100%;
  color: #000;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.titleclass {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.phone_number {
  padding: 10px;
}

.container-child {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 30px;
  width: 500px;
  max-width: 100%;
}

.total {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 20px 0px;
}

.desplegable {
  background-color: #fafafa;

}

mat-icon {
  text-align: center;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #070ab0 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #070ab0 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #070ab0 !important;
  ;
}



input [type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.exports {
  display: flex;
  justify-content: flex-end;
}

.exports button {
  border-radius: 10px;
  background-color: #002b5c;
  color: #fafafa;
  display: flex;
  justify-content: center;
  margin: 25px 10px;
}

.busqueda {
  display: flex;
  width: 20%;
  gap: 0.75em;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: auto;
  margin-bottom: 20px;
}

.busqueda h1 {
  font-size: larger;
  text-align: center;
  color: #000;
  text-decoration: none;
}


@media (max-width:1000px) {
  .container-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
  }
  .container-tabla1{
    flex-grow: 1;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
  }
  .container-venta{
    display: block;
    background-color: #002b5c;
    //altura del fondo azul
    height: 100%;
  }
}

@media (max-width:650px) {
  .container-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    width: 85%;
  }
  .container-child table{
    width: 80%;
    margin: auto;
  }
  .container-tabla1{
    flex-grow: 1;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
  }
  .container-venta{
    display: block;
    background-color: #002b5c;
    //altura del fondo azul
    height: 100%;
  }

}
