html, body {
  height: 100%;
  margin: auto;
}
.all{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
apx-chart{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { margin: 20px; }

.box3 { background-color: purple; }
.box4 { background-color: grey; }
