table {
  width: 100%;
  overflow: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
  overflow: auto;
}
.opciones{
  width: 5%;
}
.mat-elevation-z8{
  overflow: auto;
}

.filter-class {
  background-color: #fafafa;
}

.label-search {
  margin-left: 15px;
}

.input-search {
  margin-left: 15px;
}

.tabla-completa {
  background-color: #b8b5b447;
  padding: 10px 30px 30px 30px;
  height: calc(100vh - 64px - 48px);
}

.mat-tab-labels {
  background-color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  background-color: #002b5c;
}

.container button {
  background-color: #002b5c;
  color: #fff;
  border-radius: 17px;
  width: 75%;
  align-self: center;
  height: 42px;
}

.container mat-form-field {
  width: 75%;
  color: #000;
  align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 25%;
  border-radius: 15px;
  padding: 20px;
  margin: auto;
}

.container-child img {
  width: 25%;
  height: 25%;
  display: block;
  margin: auto;
}

.titleclass {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.porcentaje {
  padding: 10px;
}

.message_create {
  text-align: center;
  color: #19AE68;
  margin-top: 15px;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #070ab0 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #070ab0 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #070ab0 !important;
  ;
}



input [type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.exports {
  display: flex;
  justify-content: flex-end;
}

.exports button {
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: #002b5c;
  color: #fafafa;
  display: flex;
  justify-content: center;
}

@media (max-width:1000px) {
  .container-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 50%;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
  }
}

@media (max-width:600px) {
  .container-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 70%;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
  }
}
