<div class="container">
  <div class="container-child">
    <img src="../../../assets/images/logo-dygcombos.png" alt="" />
    <mat-form-field>
      <mat-label class="title">Email</mat-label>
      <input matInput type="string" name="descripcion" [(ngModel)]="email" minlength="5" />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="title">Password</mat-label>
      <input type="password" matInput name="precio_base" [(ngModel)]="password" minlength="1" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rol</mat-label>

      <mat-select [(ngModel)]="rol">
        <mat-option [value]="1">
          Administrador
        </mat-option>
        <mat-option [value]="2">
          Normal
        </mat-option>
      </mat-select>


    </mat-form-field>

    <button mat-button color="withe" (click)="onEdit()">Editar Usuario</button>
    <ng-template [ngIf]="creado">

      <div class="message_create">Usuario editado con exito</div>

    </ng-template>
  </div>
</div>
