<div class="container">
  <mat-form-field appearance="fill">
    <mat-label class="title">Nombre</mat-label>
    <input matInput name="name" [(ngModel)]="nombre" minlength="5" />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Teléfono"
      class="phone_number"
      [(ngModel)]="telefono"
      minlength="8"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Zona</mat-label>
    <input matInput name="zone" [(ngModel)]="zona" minlength="5" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label class="title">Dirección</mat-label>
    <input matInput name="adress" [(ngModel)]="direccion" minlength="5" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      placeholder="Ex. pat@example.com"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label class="title">Detalle</mat-label>
    <input matInput name="detail" [(ngModel)]="detalle" minlength="5" />
  </mat-form-field>

  <button mat-raised-button color="warn" (click)="onEdit()">Editar Cliente</button>
</div>
