<div class="body">
  <div class="signup">
    <img src="../../../assets/images/logo-DHR.jpg" alt="" />
    <h1 class="h3 mb-3 fw-normal">Registro</h1>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput />
    </mat-form-field>
    <br />
    <button
      class="ancho"
      mat-raised-button
      mat-button
      color="primary"
      (click)="goToLogin()"
    >
      Registrarme
    </button>
  </div>
</div>
